$base-color: #6b03a8;
$active-color: #7603a8;

$base-gradient: 'matte';
$tabs-dark: darken($base-color, 20%);
$tabs-dark-active-color: saturate($active-color, 20%);
$tabs-bottom-active-gradient: 'recessed';

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;


@include pictos-iconmask('list');
@include pictos-iconmask('time_repeat');
@include pictos-iconmask('twitter2');